name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Aravind2k6
          outputs: |
            output/pacman-contribution-graph.svg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
